---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PortfolioItem from "@src/components/PortfolioItem.astro";

const projectList = await getCollection("projects").then((projectList) =>
  projectList.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
);
---

<BaseLayout>
  <div class="mb-5">
    {projectList.map((item) => <PortfolioItem item={item} />)}
  </div>

  <div class="flex justify-center rounded-lg px-4 py-3 text-sm text-gray-400">
    More to come.
  </div>
</BaseLayout>
