<header class="mb-16 space-y-4">
  <h1
    class="text-5xl font-semibold tracking-tight text-white text-balance mb-4 animate-fade-in"
  >
    <span class="inline-block"><span class="">Leonard Paturel</span></span>
  </h1><p class="text-gray-500 animate-fade-in">software engineer ·</p><p
    class="text-pretty max-w-[52ch] animate-fade-in-up"
  >
    I'm a software engineer working in Rust.
  </p>
</header>
