---
import GithubIcon from "../assets/icons/github.svg";
import LinkedInIcon from "../assets/icons/linkedin.svg";
---

<section class="border-t-[0.5px] border-t-amber-700">
  <div class="mt-6 flex items-center justify-between">
    <h1>hello</h1>
    <div class="flex items-center justify-between gap-2">
      <a
        href="https://github.com/0xleodevv"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GithubIcon class="size-5 fill-gray-300" />
      </a>

      <a
        href="https://www.linkedin.com/in/leonard-p-6b19771b7/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <LinkedInIcon class="size-5 fill-gray-300" />
      </a>
    </div>
  </div>
</section>
