---
import GithubIcon from "../assets/icons/github.svg";
import LinkedInIcon from "../assets/icons/linkedin.svg";

const linkRef = {
  linkedin: "https://www.linkedin.com/in/leonard-p-6b19771b7/",
  github: "https://github.com/builtbyleo",
};
---

<section class="border-t-[0.5px]">
  <div class="mt-6 flex items-center justify-between">
    <h1>hello</h1>
    <div class="flex items-center justify-between gap-2">
      <a href={linkRef.github} target="_blank" rel="noopener noreferrer">
        <GithubIcon class="fill-text/75 size-5 transition-colors" />
      </a>

      <a href={linkRef.linkedin} target="_blank" rel="noopener noreferrer">
        <LinkedInIcon class="fill-text/75 size-5 transition-colors" />
      </a>
    </div>
  </div>
</section>
