<nav class="flex items-center justify-between mb-12 text-sm">
  <div class="flex space-x-1 sm:space-x-4">
    <a
      class="hover:text-accent transition-colors duration-200 py-2 px-1.5 sm:px-0 sm:py-0"
      href="/"><span class="hidden sm:inline">[h] </span>home</a
    ><a
      class="hover:text-accent transition-colors duration-200 py-2 px-1.5 sm:px-0 sm:py-0"
      href="/blog"><span class="hidden sm:inline">[b] </span>blog</a
    ><a
      class="hover:text-accent transition-colors duration-200 py-2 px-1.5 sm:px-0 sm:py-0"
      href="/work"><span class="hidden sm:inline">[w] </span>work</a
    ><a
      class="hover:text-accent transition-colors duration-200 py-2 px-1.5 sm:px-0 sm:py-0"
      href="/projects"><span class="hidden sm:inline">[p] </span>projects</a
    >
  </div>
</nav>
