---
const pathname = Astro.url.pathname;

const links = [
  { href: "/", label: "home" },
  { href: "/work/", label: "work" },
  { href: "/projects/", label: "projects" },
  { href: "/blog/", label: "blog" },
];

const baseLinkClass =
  "hover:text-white hover:-translate-y-0.5 transition-transform duration-300 ease-in-out transition-colors duration-200 py-2 px-1.5 sm:px-0 sm:py-0";
---

<nav class="mb-12 flex items-center justify-between text-sm">
  <div class="relative">
    <h1
      class="animate-fade-in text-3xl font-semibold tracking-tight text-balance"
    >
      Leonard Paturel
    </h1>

    <p class="animate-fade-in absolute top-full mt-1 text-gray-500">
      software engineer ·
    </p>
  </div>

  <div class="flex space-x-1 sm:space-x-4">
    {
      links.map(({ href, label }) => (
        <div class="group flex flex-col">
          <a
            href={href}
            class:list={[
              baseLinkClass,

              pathname === href ? "" : "text-gray-500",
            ]}
          >
            {label}
          </a>

          <div
            class:list={[
              "mt-1 h-px bg-neutral-200 transition-opacity duration-500",

              pathname === href
                ? "opacity-100"
                : "opacity-0 group-hover:opacity-100",
            ]}
          />
        </div>
      ))
    }
  </div>
</nav>
