<div class="bg-[#111111] absolute w-full h-full">
  <div class="max-w-4xl mx-auto px-5 sm:px-4 py-8">
    <nav class="flex items-center justify-between mb-12 text-sm">
      <div class="flex space-x-1 sm:space-x-4">
        <a
          class="hover:text-accent transition-colors duration-200 py-2 px-1.5 sm:px-0 sm:py-0"
          href="/"><span class="hidden sm:inline">[h] </span>home</a
        ><a
          class="hover:text-accent transition-colors duration-200 py-2 px-1.5 sm:px-0 sm:py-0"
          href="/blog"><span class="hidden sm:inline">[b] </span>blog</a
        ><a
          class="hover:text-accent transition-colors duration-200 py-2 px-1.5 sm:px-0 sm:py-0"
          href="/work"><span class="hidden sm:inline">[w] </span>work</a
        ><a
          class="hover:text-accent transition-colors duration-200 py-2 px-1.5 sm:px-0 sm:py-0"
          href="/projects"><span class="hidden sm:inline">[p] </span>projects</a
        >
      </div>
    </nav>
    <header class="mb-16 space-y-4">
      <h1
        class="text-5xl font-semibold tracking-tight text-white text-balance mb-4 animate-fade-in"
      >
        <span class="inline-block"><span class="">Leonard Paturel</span></span>
      </h1><p class="text-gray-500 animate-fade-in">software engineer ·</p><p
        class="text-pretty max-w-[52ch] animate-fade-in-up"
      >
        I'm a software engineer working in Rust.
      </p>
    </header>
    <section class="mb-12 pt-10 border-t border-neutral-800 animate-fade-in-up">
      <div class="flex items-baseline justify-between mb-6">
        <h2 class="text-2xl font-semibold flex items-center text-white">
          <span class="text-accent mr-2 text-2xl font-semibold leading-none"
            >*</span
          >
          blog
        </h2><a
          class="inline-flex items-center gap-1 text-sm text-accent hover:underline group"
          href="/blog"
          >all posts<!-- -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-up-right w-4 h-4 transition-transform duration-200 group-hover:translate-x-1 group-hover:-translate-y-1"
            ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
          ></a
        >
      </div>
      <div class="space-y-3">
        <a
          class="group flex flex-col sm:flex-row sm:items-baseline gap-1 sm:gap-4"
          href="/blog/code-chunk"
          ><span class="text-sm text-gray-500 sm:w-28 shrink-0 tabular-nums">
            Jan 01, 2026</span
          ><span
            class="text-gray-200 group-hover:text-accent transition-colors duration-200"
            >How the world is changing.</span
          ></a
        >
      </div>
    </section>
  </div>
</div>
