---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PortfolioItem from "@src/components/PortfolioItem.astro";

const projectList = await getCollection("projects").then((projectList) =>
  projectList.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
);
---

<BaseLayout>
  <header class="border-text mb-2 space-y-4 border-b-[0.5px] pb-5">
    It's not much but it's honest work.
  </header>
  <div class="mb-5">
    {projectList.map((item) => <PortfolioItem item={item} />)}
  </div>
</BaseLayout>
