---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PortfolioItem from "@src/components/PortfolioItem.astro";

const workList = await getCollection("work").then((workList) =>
  workList.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
);
---

<BaseLayout>
  <div class="mb-5">
    {workList.map((item) => <PortfolioItem item={item} />)}
  </div>
</BaseLayout>
