---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PortfolioItem from "@src/components/PortfolioItem.astro";

const workList = await getCollection("work").then((workList) =>
  workList.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
);
---

<BaseLayout>
  <header class="border-text mb-2 space-y-4 border-b-[0.5px] pb-5">
    My career highlights, you can explore the github repos by clicking on the
    cards.
  </header>
  <div class="mb-5">
    {workList.map((item) => <PortfolioItem item={item} />)}
  </div>
</BaseLayout>
