@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-main: oklch(17.76% 0 0);
  --color-text: oklch(99.06% 0.0135 92.98);
  --color-accent: oklch(70.49% 0.1867 47.6);
}

@layer base {
  body {
    @apply bg-main text-text;
  }
}
