---
import "@src/global.css";

import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>

    <ClientRouter />
  </head>
  <body
    class="bg-[#101010] mx-auto grid max-w-7xl grid-cols-[180px_minmax(0,680px)_260px] gap-16 px-8 py-16"
  >
    <slot />
  </body>
</html>
