---
import ArrowIcon from "@assets/icons/arrow.svg";

interface Props {
  href: string;
  text: string;
  hidden?: boolean;
  newTab?: boolean;
}

const { href, hidden = false, newTab = false, text } = Astro.props;
---

{
  hidden ? null : (
    <a
      class="group inline-flex items-center gap-1 text-sm opacity-100 transition-opacity hover:underline"
      href={href}
      target={newTab ? "_blank" : undefined}
      rel={newTab ? "noopener noreferrer" : undefined}
    >
      {text}
      <div class="transition duration-200 group-hover:rotate-45">
        <ArrowIcon />
      </div>
    </a>
  )
}
